In [34]:
import pandas as pd
#files=[1, 1, 1, 1, 2, 2, 2, 2,  3, 3, 3, 4, 4, 5, 5, 6, 7, 8, 9]
#files=[i for i in range(1, 12)]
files=[1, 1, 1, 2, 2, 2, 3, 3, 4, 5, 6, 7, 8, 9, 10, 11]
base='e/submission_'
df=pd.DataFrame()
for (idx, i) in enumerate(files):
    dfi=pd.read_csv(base+str(i)+'.csv')
    dfi.columns=['id', 'pred'+str(idx)]
    if df.empty:
        df=dfi
    else:
        df=df.merge(dfi, on='id')
    
df.head()

,id,pred0,pred1,pred2,pred3,pred4,pred5,pred6,pred7,pred8,pred9,pred10,pred11,pred12,pred13,pred14,pred15
0,0013_01,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,True
1,0018_01,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,0019_01,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
3,0021_01,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
4,0023_01,True,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True

In [35]:
# ensemble using most frequent
from scipy.stats import mode
import numpy as np
preds=df.iloc[:, 1:].values.astype(int)
preds_mode=mode(preds, axis=1)[0]
df['Transported']=preds_mode.astype(bool)
# change id to PassengerId
df_out=df[['id', 'Transported']]
df_out.columns=['PassengerId', 'Transported']
df_out.to_csv('submission.csv', index=False)
df.head()

,id,pred0,pred1,pred2,pred3,pred4,pred5,pred6,pred7,pred8,pred9,pred10,pred11,pred12,pred13,pred14,pred15,Transported
0,0013_01,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,True,True
1,0018_01,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,0019_01,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
3,0021_01,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
4,0023_01,True,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True,True